// .sidebar {
//   border: 2px solid var(--ion-color-primary);
// }
// .dynamic {
//   border: 2px solid green;
// }
// ion-col {
//   border: 2px solid var(--ion-color-success);
// }
.dinga {
  border: 2px solid red;
}
.textColor {
  color: rgb(233, 10, 21) !important;
  font-family: "Ubuntu", sans-serif;
}
.buttonColor {
  // --background: "";
  // --background: #222425 !important;
  // color: #cfe8f1;

  // --background: #222425 !important;

  color: rgb(145, 127, 127);

  // color:  #222425;
  font-family: "Ubuntu", sans-serif;
  // rgb(239, 239, 243) ,
}
ion-card {
  // background-color: #222425 !important;
  // background-color: #808588 !important;
  // background-color: #d0dadf !important;
}
ion-content {
  // --background: #222425 !important;
}
// .madow {
//   height: auto;
// }
.colorLink {
  // color:white;
  // --background: #808080;
  color: #171718 !important;
}
