<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app class="d-flex align-items-center pt-5">
  <ion-content [scrollEvents]="true">
    <ion-grid class="">
      <ion-row class="ion-align-items-center">
        <ion-col size-md="10" offset-md="1">
          <ion-row>
            <ion-col
              size-md="3"
              size-lg="2"
              size-xs="12"
              size-sm="12"
              class="shadow madow"
            >
              <ion-row>
                <ion-col
                  size-xs=""
                  size-md="12"
                  size-lg="12"
                  size-sm="12"
                  *ngFor="let a of dinga"
                >
                  <!-- <ion-item size-xs="2" class="ion-text-center"> -->
                  <!-- <ion-label class="p-0"> -->
                  <ion-button
                    [routerLink]="a.link"
                    expand="block"
                    class="buttonColor"
                    routerLinkActive="colorLink"
                  >
                    <ion-icon [name]="a.name" slot="start"></ion-icon>

                    <ion-grid>
                      <ion-row>
                        <ion-col size-lg="2"> </ion-col>
                        <ion-col size-lg="8">
                          {{ a.button }}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-button>
                  <!-- </ion-label> -->
                  <!-- </ion-item> -->
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- <ion-col size="1"> </ion-col> -->
            <ion-col
              size-sm="6"
              size-md="9"
              size-lg="9"
              class="ms-lg-4 textColor"
              size-sm="12"
              size-xs="12"
            >
              <ion-card class="buttonColor">
                <router-outlet></router-outlet>
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus consequatur fugit inventore facere hic pariatur?
              Explicabo, eum? Ut amet quod corrupti molestias eos recusandae
              accusantium maxime tempora officiis quos illo quidem ratione
              ducimus blanditiis magni velit nihil dicta nam aliquid, iure
              reprehenderit consequatur. Consequatur quibusdam voluptate
              laboriosam, quod aliquid suscipit quas! Doloremque error odio
              consequuntur vitae! Ratione, praesentium odio itaque minus nulla
              fugiat, doloremque corrupti voluptate cumque deleniti eveniet eum,
              ea quam voluptatibus beatae rem perspiciatis enim excepturi ipsa
              dolores quo hic temporibus. Alias ea numquam possimus. Corrupti
              rerum atque dignissimos quas nemo deleniti, repellat fuga
              perferendis nisi beatae quae! Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Doloribus consequatur fugit
              inventore facere hic pariatur? Explicabo, eum? Ut amet quod
              corrupti molestias eos recusandae accusantium maxime tempora
              officiis quos illo quidem ratione ducimus blanditiis magni velit
              nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
              consequatur fugit inventore facere hic pariatur? Explicabo, eum?
              Ut amet quod corrupti molestias eos recusandae accusantium maxime
              tempora officiis quos illo quidem ratione ducimus blanditiis magni
              velit nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
              consequatur fugit inventore facere hic pariatur? Explicabo, eum?
              Ut amet quod corrupti molestias eos recusandae accusantium maxime
              tempora officiis quos illo quidem ratione ducimus blanditiis magni
              velit nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
              consequatur fugit inventore facere hic pariatur? Explicabo, eum?
              Ut amet quod corrupti molestias eos recusandae accusantium maxime
              tempora officiis quos illo quidem ratione ducimus blanditiis magni
              velit nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
              consequatur fugit inventore facere hic pariatur? Explicabo, eum?
              Ut amet quod corrupti molestias eos recusandae accusantium maxime
              tempora officiis quos illo quidem ratione ducimus blanditiis magni
              velit nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
              consequatur fugit inventore facere hic pariatur? Explicabo, eum?
              Ut amet quod corrupti molestias eos recusandae accusantium maxime
              tempora officiis quos illo quidem ratione ducimus blanditiis magni
              velit nihil dicta nam aliquid, iure reprehenderit consequatur.
              Consequatur quibusdam voluptate laboriosam, quod aliquid suscipit
              quas! Doloremque error odio consequuntur vitae! Ratione,
              praesentium odio itaque minus nulla fugiat, doloremque corrupti
              voluptate cumque deleniti eveniet eum, ea quam voluptatibus beatae
              rem perspiciatis enim excepturi ipsa dolores quo hic temporibus.
              Alias ea numquam possimus. Corrupti rerum atque dignissimos quas
              nemo deleniti, repellat fuga perferendis nisi beatae quae! -->
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
