p {
  color: white;
}
// ion-col {
//   border: 2px solid red;
// }
// .col {
//   border: 2px solid red;
// }
.close:hover {
  color: rgb(245, 238, 238);
  transition: 0.5s;
}
.close {
  position: relative;
  top: -3rem;
  left: 1.5rem;
}
.info {
  position: relative;
  bottom: -0.5rem;
  right: 1.2rem;
}
.backgroundd {
  // --background: #191a1b !important;
  // background-color: #191a1b !important;
  // color: #cfe8f1;
}

ion-label {
  // color: #cfe8f1 !important;
}
ion-item {
  // --background: #191a1b !important;
  // color: #cfe8f1 !important;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}
.dinga {
  position: relative !important;
  right: -8em !important;
  bottom: 3em !important;
}

.mat-cell {
  // width: 20em !important;
  // margin-left: 30px !important;
  text-align: center !important;
  font-weight: 400 !important;
}
.mat-header-cell {
  width: 20em !important;
  text-align: center !important;
  font-weight: 400 !important;
}
.input-group {
  position: relative;
  top: 2px !important;
  height: 40px !important;
  font-weight: 400 !important;

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  width: 100%;
}
.cell:last-of-type {
  padding-right: 1px !important;
}
