<ion-grid>
  <ion-row>
    <ion-col sizeLg="12">
      <form [formGroup]="form">
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Date</ion-col>
                <ion-col sizeLg="9">
                  <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Choose a date</mat-label>
                    <!-- (dateInput)="addEvent('input', $event)"
                (dateChange)="addEvent('change', $event)" -->
                    <input
                      matInput
                      [matDatepicker]="datepicker"
                      formControlName="date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="datepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <!-- <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>
                      Apply
                    </button>
                  </mat-datepicker-actions> -->
                    </mat-datepicker>
                    <mat-error
                      *ngIf="
                        !form.get('date')?.valid && form.get('date')?.touched
                      "
                      >pick the required date</mat-error
                    >
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-4">Status</ion-col>

                <ion-col sizeLg="9">
                  <!-- <input
                  class="dropdown-toggle"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                /> -->
                  <ion-item
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <ion-label position="floating">Status </ion-label>
                    <ion-input
                      [value]="statuss"
                      class="dropdown-toggle"
                      formControlName="status"
                    ></ion-input>
                  </ion-item>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" (click)="statuss = 'Confirmed'"
                        >Confirmed</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="statuss = 'Pending'">
                        Pending</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="statuss = 'canceld'"
                        >canceld</a
                      >
                    </li>
                  </ul>
                  <mat-error
                    *ngIf="
                      !form.get('status')?.valid && form.get('status')?.touched
                    "
                    >pick the required date</mat-error
                  >
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-4">Attendees</ion-col>
                <ion-col sizeLg="9">
                  <ion-item>
                    <ion-label position="floating">Attendees </ion-label>
                    <ion-input
                      max="10"
                      min="1"
                      type="number"
                      formControlName="attendees"
                    ></ion-input>
                  </ion-item>
                  <mat-error
                    *ngIf="
                      !form.get('attendees')?.valid &&
                      form.get('attendees')?.touched
                    "
                    >attendees should be between 1 to 1o</mat-error
                  >
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-4">Payment method</ion-col>
                <ion-col sizeLg="9">
                  <ion-item
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <ion-label position="floating">Payment method </ion-label>
                    <ion-input
                      [value]="paymentmethod"
                      class="dropdown-toggle"
                      formControlName="paymentMethod"
                    ></ion-input>
                  </ion-item>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" (click)="paymentmethod = 'Cash'"
                        >Cash</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="paymentmethod = 'Card'">
                        Card</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="paymentmethod = 'Paypal'"
                        >Paypal</a
                      >
                    </li>
                  </ul>
                  <mat-error
                    *ngIf="
                      !form.get('paymentMethod')?.valid &&
                      form.get('paymentMethod')?.touched
                    "
                    >pick from the list</mat-error
                  >
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Room</ion-col>
                <ion-col sizeLg="9">
                  <ion-item
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <ion-label position="floating">Room </ion-label>
                    <ion-input
                      [value]="room"
                      class="dropdown-toggle"
                      formControlName="room"
                    ></ion-input>
                  </ion-item>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" (click)="room = 'panaromic'"
                        >panaromic</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="room = 'small Conference room'"
                        >small Conference room</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="room = 'large Conference room'"
                        >large Conference room</a
                      >
                    </li>
                  </ul>
                  <mat-error
                    *ngIf="
                      !form.get('room')?.valid && form.get('room')?.touched
                    "
                    >pick one from the list</mat-error
                  >
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Room price</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="text"
                      class="form-control"
                      readonly
                      aria-describedby="basic-addon1"
                      formControlName="roomPrice"
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-4">Layout</ion-col>
                <ion-col sizeLg="9">
                  <ion-item
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <ion-label position="floating">Layout </ion-label>
                    <ion-input
                      [value]="layout"
                      class="dropdown-toggle"
                      formControlName="layout"
                    ></ion-input>
                  </ion-item>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" (click)="layout = 'Classroom'"
                        >Classroom</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="layout = 'Confernce'">
                        Confernce</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="layout = 'Theater'"
                        >Theater</a
                      >
                    </li>
                  </ul>
                  <mat-error
                    *ngIf="
                      !form.get('layout')?.valid && form.get('layout')?.touched
                    "
                    >pick from the list</mat-error
                  >
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Equipment price</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="equipmentPrice"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-4">Duration</ion-col>
                <ion-col sizeLg="9">
                  <!-- <ion-col sizeLg="9"> -->
                  <ion-item
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <ion-label position="floating">Duration </ion-label>
                    <ion-input
                      [value]="duration"
                      class="dropdown-toggle"
                      formControlName="duration"
                    ></ion-input>
                  </ion-item>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" (click)="duration = 'Half day';priceCalculator('Half day')"
                        >Half day</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="duration = 'Full day';priceCalculator('Full day')">
                        Full day</a
                      >
                    </li>
                  </ul>
                  <mat-error
                    *ngIf="
                      !form.get('duration')?.valid &&
                      form.get('duration')?.touched
                    "
                    >pick from the list</mat-error
                  >
                </ion-col>
                <!-- </ion-col> -->
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Food & drinks price</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="foodDrinkPrice"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3"></ion-col>
                <ion-col sizeLg="9">
                  <!-- <ion-button
                    [disabled]="
                      !form.get('duration')?.valid ||
                      !form.get('room')?.valid ||
                      !form.get('layout')?.valid ||
                      !form.get('attendees')?.valid
                    "
                    (click)="priceCalculator()"
                    >ceck the price</ion-button
                  > -->
                  <ion-button
                    [disabled]="!form.valid"
                    (click)="clientForm($event)"
                    >next</ion-button
                  >
                  <ion-button>cancel</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">sub-total</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="number"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="subtotal"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3"></ion-col>
                <ion-col sizeLg="9"> </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Tax</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="number"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="tax"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3"></ion-col>
                <ion-col sizeLg="9"> </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Total</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="number"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="total"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeLg="12">
          <ion-row>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3"></ion-col>
                <ion-col sizeLg="9"> </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeLg="6">
              <ion-row>
                <ion-col sizeLg="3" class="pt-3">Deposit</ion-col>
                <ion-col sizeLg="9">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">€</span>
                    <input
                      type="niumber"
                      class="form-control"
                      aria-describedby="basic-addon1"
                      formControlName="deposite"
                      readonly
                    />
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
